<!-- Icon Font Stylesheet -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Footer Start -->
<div
  class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-4 col-md-6">
        <h4 class="text-white mb-4">Our Office</h4>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>Office Address: Plot No.
          F-27B, Scheme, New Sanganer Rd, 6D Engineers Colony, Manyawas,
          Mansarovar, Jaipur, Rajasthan 302020
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 9928857684</p>

        <!-- <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 9928857684</p> -->
        <p class="mb-2">
          <i class="fa fa-envelope me-3"></i>vardhman.assoiates8@gmail.com
        </p>
        <p class="mb-2">
          <i class="fa fa-clock me-3"></i>Mon - Sat: 9:00 AM - 6:00 PM
        </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4 class="text-white mb-4">Our Services</h4>
        <a class="btn btn-link" href="service.html"
          >Business Registration & Licensing</a
        >
        <a class="btn btn-link" href="service.html"
          >GST Registration & Filing</a
        >
        <a class="btn btn-link" href="service.html">Income Tax & TDS</a>
        <a class="btn btn-link" href="service.html">Company Law Compliance</a>
        <a class="btn btn-link" href="service.html">Accounting & Auditing</a>
        <a class="btn btn-link" href="service.html">Legal Advisory</a>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4 class="text-white mb-4">Quick Links</h4>
        <a class="btn btn-link" href="about.html">About Us</a>
        <a class="btn btn-link" href="contact.html">Contact Us</a>
        <a class="btn btn-link" href="service.html">Our Services</a>
        <a class="btn btn-link" href="careers.html">Careers</a>
        <a class="btn btn-link" href="disclaimer.html">Disclaimer</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
